/* 
  Global styles for the components, only when are in rnr-container
*/

/* Callout */
:global(.rnr-container) :global(.rnr-callout) {
  background-color: var(--light-color);
  display: flex;
  gap: 16px;
  margin: var(--spacing) 0;
  padding: 14px;
}

/* Quote */
:global(.rnr-container) :global(.rnr-quote) {
  border-left: 4px solid var(--color-link);
  margin: var(--spacing) 0;
  padding-left: var(--children-spacing);
}

/* Table of contents */
:global(.rnr-container) :global(.rnr-table_of_contents) {
  list-style: none;
  padding: 0;
}

:global(.rnr-container) :global(.rnr-table_of_contents) > li {
  padding: 3px 0;
}

:global(.rnr-container) :global(.rnr-table_of_contents) > :global(.rnr-heading_2) {
  margin-left: 30px;
}

:global(.rnr-container) :global(.rnr-table_of_contents) > :global(.rnr-heading_3) {
  margin-left: 60px;
}

/* Table */
:global(.rnr-container) :global(.rnr-table) {
  border-collapse: collapse;
}

:global(.rnr-container) :global(.rnr-table) td {
  border: 1px solid var(--color-gray);
  padding: 5px;
}
