/* 
  Global styles for the components, only when are in rnr-container
*/

/* Callout */
.rnr-container .rnr-callout {
  background-color: var(--light-color);
  display: flex;
  gap: 16px;
  margin: var(--spacing) 0;
  padding: 14px;
}

/* Quote */
.rnr-container .rnr-quote {
  border-left: 4px solid var(--color-link);
  margin: var(--spacing) 0;
  padding-left: var(--children-spacing);
}

/* Table of contents */
.rnr-container .rnr-table_of_contents {
  list-style: none;
  padding: 0;
}

.rnr-container .rnr-table_of_contents > li {
  padding: 3px 0;
}

.rnr-container .rnr-table_of_contents > .rnr-heading_2 {
  margin-left: 30px;
}

.rnr-container .rnr-table_of_contents > .rnr-heading_3 {
  margin-left: 60px;
}

/* Table */
.rnr-container .rnr-table {
  border-collapse: collapse;
}

.rnr-container .rnr-table td {
  border: 1px solid var(--color-gray);
  padding: 5px;
}

.rnr-container .has-column-header tr:first-child > td {
  background-color: var(--light-color);
}

.rnr-container .has-row-header tr > td:first-child {
  background-color: var(--light-color);
}

/* Column List */
.rnr-container .rnr-column_list {
  display: grid;
  gap: 2rem;
  width: 100%;
}

.rnr-container .rnr-column_list[data-columns="2"] {
  grid-template-columns: repeat(2, 1fr);
}

.rnr-container .rnr-column_list[data-columns="3"] {
  grid-template-columns: repeat(3, 1fr);
}

.rnr-container .rnr-column_list[data-columns="4"] {
  grid-template-columns: repeat(4, 1fr);
}

.rnr-container .rnr-column_list[data-columns="5"] {
  grid-template-columns: repeat(5, 1fr);
}

.rnr-container .rnr-column {
  width: 100%;
}

.rnr-container .rnr-column > *:not(:last-child) {
  margin-bottom: 1rem;
}

