.remove-style {
  list-style: none;
  padding-left: 12px;
}

.check {
  margin-right: 10px;
}

.drop-children {
  margin-left: calc(var(--children-spacing) - 12px)
}

.drop-button{
  cursor: pointer;
}