.button {
  background: transparent;
  border: 2px solid var(--text-color);
  border-radius: 8px;
  color: var(--text-color);
  padding: 8px;
  transition: .4s;
}

.button:hover,
.button:active,
.button:focus {
  background: var(--text-color);
  color: var(--bkg-color)
}
